<div class="container">
  <h1>Your bookings</h1>

  <h2>These are the ducks you want to book:</h2>
  <ul>
    <% @bookings.each do |booking| %>
      <li><%=booking.duck.name%>, <%= booking.status %>, <%= link_to "Click here to see more details", booking_path(booking) %>
          <%= link_to "Delete booking",
          booking_path(booking),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </li>
    <% end %>
  </ul>
  <%= link_to "+ Pick a new duck to book", ducks_path %>

  <h2>And these are the ducks you want to rent out:</h2>
  <ul>
  </ul>
  <%= link_to "+ Rent out a new duck", new_duck_path %>
  <p>
</div>
