<div class="container">
  <h1>Your Bookings</h1>
  <ul>
    <% @bookings.each do |booking| %>
      <li><%=booking.duck.name%>, <%= booking.status %>, <%= link_to "Click here to see more details", booking_path(booking) %>
          <%= link_to "Delete booking",
          booking_path(booking),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </li>
    <% end %>
  </ul>
  <%= link_to "+ Pick a new duck to book", ducks_path %>

  <h1>Your Listings</h1>
    <%= link_to "+ List a new duck", new_duck_path %>
    <% if @my_ducks != []%>
    <h2>These are the ducks you are listing:</h2>
    <ul>
      <% @my_ducks.each do |duck| %>
        <li><%=duck.name%>, <%=duck.price_per_day%>€ per day, <%= link_to "Click here to see more details", duck_path(duck) %>
          <%= link_to "Delete listing",
          duck_path(duck),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
        </li>
      <% end %>
    </ul>
    <h2>These are the bookings people have made for your ducks:</h2>
      <% if @my_duck_bookings != []%>
      <ul>
        <% @my_duck_bookings.each do |booking| %>
          <li><%=booking.duck.name%>, <%=booking.duck.price_per_day%>€ per day, <%= link_to "Click here to see more details", duck_path(booking.duck) %>
          </li>
        <% end %>
      </ul>
      <% else %>
      <p> No one has booked your ducks yet.</p>
      <% end %>

    <% else %>
      <p>You have no ducks to rent out.</p>
    <% end %>

</div>


<%# Display all duck listings of current user
If user doesn't have duck listings, display message %>

<%# If user clicks on his own duck, don't display "book button" %>
