
<div class="container d-flex flex-column align-items-center">
  <h1 class="text-center my-5">Your booking for duck <strong><%= @booking.duck.name %>:</strong></h1>

  <div class="card" style="width: 18rem;">
    <% if @booking.duck.photo.attached? %>
      <%= cl_image_tag @booking.duck.photo.key, crop: :fill %>
     <% else %>
      <%= image_tag @booking.duck.picture_url, class: "card-img-top" %>
     <% end %>
    <div class="card-body">
      <div class="d-flex justify-content-around">
        <div>
        <h6 class="card-title text-center"><strong><%= @booking.status %></strong></h6>
        <p class="card-text"> <%= @booking.start_date %> to <%= @booking.end_date %></p>
        <p class="card-text"> Owner - <%= @booking.user.username %> </p>
        </div>

      </div>
    </div>

</div>

<%= link_to "Edit this booking", edit_booking_path(@booking), class: "btn btn-primary my-5" if policy(@booking).edit?%>
<p>
<%= link_to "Back to the overview of bookings", bookings_path, class: "btn btn-ghost" %>
