<h1>Here is your booking for duck <strong><%= @booking.duck.name %>:</strong></h1>

<ul>
  <li>Status: <%= @booking.status %></li>
  <li>Start date: <%= @booking.start_date %></li>
  <li>End date: <%= @booking.end_date %></li>
  <li>User ID: <%= @user.id %></li>
</ul>

<%= link_to "Edit this booking", edit_booking_path(@booking), class: "btn btn-flat" %>
<p>
<%= link_to "Back to the overview of bookings", bookings_path, class: "btn btn-ghost" %>
