<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="navbar-brand">
       <img src="/images/rubber_duck_yellow.png" alt="cute yellow duck">
      <span>RENT A DUCK<span>
   </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%# Search form  %>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Become a Duck owner", ducks_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Save the ducks", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign In", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log In", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "/images/duck.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Rent out your ducks", "#", class: "dropdown-item" %>
              <%= link_to "Where are my duck ?", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
