<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="navbar-brand">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "rubber_duck_yellow.png"%>
    <% end %>
    <span id="logo">Rent a Duck <span>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "See All Ducks", ducks_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Trivia", "https://en.wikipedia.org/wiki/Rubber_duck_debugging","target": "blank", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "duck.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Rent out your ducks", new_duck_path, class: "dropdown-item" %>
              <%= link_to "See your bookings", bookings_path, class: "dropdown-item" %>
              <%= link_to "My Account", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item d-flex justify-content">
            <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
