<div class="container">

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <div class="container text-center">

    <%# <h1>Welcome to your trusted Rubber Duck Rental</h1>
    <p>Your niece is visiting and you don’t have any toys?<br>
    You are a developer, but cannot find the bug in your code and your mentor won’t talk to you?<br>
    Don’t worry, RentADuck is here to provide any duck you need!
    </p> %>
  </div>
  <div class="container text-center">

    <h2>Pick your duck to book</h2>

    <%# <div class="card-deck-wrapper"> %>
      <div class="cards">
        <% @ducks[1..8].each do |duck| %>
          <div class="card" style="width: 18rem;">
            <%= image_tag duck.picture_url, class: "card-img-top" %>
            <div class="card-body">
            <div class="d-flex justify-content-around">
              <div>
              <h5 class="card-title"><%= duck.name %></h5>
              <p class="card-text"> £  <strong> <%= '%.02f' % duck.price_per_day %> </strong> / <em> day </em> </p>
              </div>
              <%= image_tag "rubber_duck_yellow.png", class: "card-avatar" %>            </div>
                <%= link_to "See details", duck_path(duck), :class => "btn btn-flat text-center" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

