
  <h1><%= @duck.name %></h1>
  <div class="container">
    <div class="card-product">
    <%= image_tag @duck.picture_url %>
      <div class="card-product-infos">
        <ul>
          <li><strong><%= @duck.description.capitalize %></strong></li>
          <li><strong><%= @duck.price_per_day %> €/day</strong></li>
          <li><strong><%= @duck.address %></strong></li>
          <li>Owner <strong><%= @duck.user %></strong></li>
        </ul>
      </div>
    </div>
  </div>

  <%= link_to "Book this rubber duck!", new_duck_booking_path(@duck) %>
  <p>
  <%= link_to "Back to list of rubber ducks", ducks_path %>
</div>
