<div class="container">
  <div class="card d-flex justify-content-center flex-direction-row" style="width: 18rem;">
    <%= image_tag @duck.picture_url, class: "card-img-top" %>
    <div class="card-body d-flex">
      <div>
        <h3 class="card-title"><%= @duck.name %></h2>
        <p class="card-text"><%= @duck.description %></p>
        <p class="card-text"> £  <%= '%.02f' % @duck.price_per_day %> / day </p>
        <p class="card-text">Rent this duck from <%= @user.username %></p>
      </div>
    </div>
    <%= link_to "Book this rubber duck!", new_duck_booking_path(@duck), class: "btn btn-flat" unless @duck.user == current_user %>
    <%= link_to "Edit your listing", edit_duck_path(@duck, @bookings), class: "btn btn-flat" if @duck.user == current_user %>
  </div>
</div>

<div class="container">
    <%= link_to "See all bookings", bookings_path, class: "btn btn-ghost" %>
</div>
