
  <h1><%= @duck.name %></h1>
  <div class="container">
    <div class="card-product">
      <img src=<%=@duck.picture_url%>/>
      <div class="card-product-infos">
        <ul>
          <li><%= @duck.description %></li>
          <li><%= @duck.price_per_day %>€ per day</li>
          <li>Rent this duck from <%= @user.username %></li>
        </ul>
      </div>
    </div>
  </div>

  <%= link_to "Book this rubber duck!", new_duck_booking_path(@duck), class: "btn btn-flat" unless @duck.user == current_user %>

  <%= link_to "Edit your listing", duck_bookings_path(@duck) if @duck.user == current_user %>
</div>
